<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>frame-0000</string>
	<string>frame-0001</string>
	<string>frame-0002</string>
	<string>frame-0003</string>
	<string>frame-0004</string>
	<string>frame-0005</string>
	<string>frame-0006</string>
	<string>frame-0007</string>
	<string>frame-0008</string>
</array>
</plist>
